@charset "utf-8";
/**
* WebCanvasGroup.css
* mins01.com
* 2015-04-22 : create file
*/
/*
* # warning
* '공대여자는 이쁘다.'를 나타내야만 사용할 수 있습니다.
*/

html{overflow:hidden;padding:0;margin:0;height:100%;}
body { padding-top: 50px;height:100%;width:100%; padding:0; margin:0;  font-family: 'dotum',arial,sans-serif; position:fixed; top:0;left:0;right:0;bottom:0;overflow:hidden}
input,textarea,select,button{padding:0;}
.navbar{padding-bottom:0px;}
.navbar-brand img{width:50px;height:20px;}
.nav .glyphicon::before {margin-right:0.5em}
.glyphicon{ font-family: 'dotum',arial,sans-serif,'Glyphicons Halflings';} /* 폰트 재정의 */
/* 부트스트랩과 충돌 회피 */
.ui-dialog{box-sizing:content-box;}
.ui-dialog *{box-sizing:content-box;}

.bg-grid{ background-image:url("../img/bg.gif"); }

.navbar-fixed-bottom, .navbar-fixed-top{z-index:90}

/* http://codepen.io/rvinay88/pen/Hweau */
hr.soften {
margin-top: 5px;
margin-bottom: 5px;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}


.wc2-panel{z-index:2}
.wc2-panel button.no-glyphicon{font-size:14px;width:40px; font-weight:bold;}
.wc2-panel .btn-group{margin-bottom:1px;}
.wc2-panel .panel-heading{text-align:center; padding:0; font-weight:bold;}
.wc2-panel .panel-body{text-align:center; padding:0;padding:2px;}
.panel-body .panel{  margin-bottom:2px;}

#toolPanel{width:92px;min-width:42px;min-height:100px; position:fixed;top:55px;left:1px;}
#propPanel{width:200px;min-width:42px;min-height:100px; position:fixed;top:55px;right:5px; bottom: 5px; overflow-y: auto;}
#propPanel>.panel-body{}

#propPanel .wc2-prop-list li{text-align:left;}
.overflow-scrolly{overflow-y:auto; overflow-x:hidden}
#propPanel table{border-width:0;padding:0;margin:0;width:100%; border-collapse: separate;}
#propPanel th,#propPanel td {padding:2px; border-bottom:1px dashed #ccc; }
#propPanel tr:last-child th,
#propPanel tr:last-child td{border-bottom-width:0;}
#propPanel th{text-align:center;}
#propPanel td{text-align:left;}

#propLayerList{height:200px;margin-bottom: 5px;}
#propLayerList .list-group-item{padding-left:2px;}
#propLayerList img{background-image:url("../img/bg.gif");
margin-top:-8px;
margin-bottom:-6px;
margin-left:2px;
margin-right:5px;
box-shadow: 0px 1px 3px rgba(0,0,0,0.5);}
#propLayerList li{ cursor:pointer; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#propLayerList li[data-wcb-active="1"]{ background-color:#abc; font-weight:bold;}

#propHistoryList{height:60px;margin-bottom: 5px;}
#propHistoryList li{font-size: 12px;  padding: 2px 2px 2px 1em;}



@media (min-width: 768px) {
#toolPanel{display:block;visibility: visible;}
#propPanel{display:block;visibility: visible;}
#toolPanel{display:block;visibility: visible;}

}
@media (max-width: 768px) {
/* 툴 버튼을 작은 버튼으로 변경 */
#toolPanel{width:30px; min-width:26px}
#toolPanel .btn{   
		padding: 1px 5px;
	  font-size: 12px;
	  line-height: 1.5;
	  border-radius: 3px;}
	  #toolPanel button.no-glyphicon{
width:24px;
}
}


div.wc-viewImage{}
div.wc-viewImage img.wc-viewImage{ }

/* 이미지 툴용 prop */
#imageNode{max-width:100%;}





#hiddenArea{display:none;}


#contentArea{ position:fixed;top:55px;left:0;right:0;bottom:0;z-index:1;}
#contentArea{
	left: 0px;
	right: 0px;
}
@media (min-width: 768px) {
#contentArea{
	left: 95px;
	right: 207px;
}
}


#tabs{position:absolute;left;top:0;left:0;right:0;bottom:0;}
#tabsContent{ 
overflow:hidden;
border:5px solid #fff;
background-color:#eee;
position: relative;
left:0; right:0;
top:0;bottom:0;
box-sizing: border-box;
height:100%;
}
#tabsContent .ui-tabs-panel{
width: 100%;
height: 100%;
box-sizing: border-box;
padding:0px;
position: absolute;
}

/* wcb */
	
.wcb-frame { 
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
width: 100%;
height: 100%;
box-sizing: border-box;
cursor:crosshair;
}

.wcb-frame .WCB{ margin:0 auto;}
.ui-dialog .wcb-bottom{position:absolute;bottom:0px ;left:0;right:0;padding:2px 2px 0 2px; border-top:2px dotted #fff; background-color:rgba(204,204,204,0.8)}

.wcb-move { 
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
width: 100%;
height: 100%;
box-sizing: border-box;
border:0px solid #eee;
border-top-width:30px;

}		

.wcb-zoom{
z-index: 3;
position: absolute;
left: 2px;
bottom: 2px;
}

.ui-widget-header {
background: #ccc;
}
.wcw-active .ui-widget-header {
background: #abc;
}

/* 메뉴 상세 부분 */
#menuDetailArea{
position:fixed;top:52px;left:0;right:0;bottom:0;z-index:3;
background-color:rgba(0,0,0,0.2);
}
#menuDetailArea .wc2-panel{margin:0 auto;min-width:200px; max-width:600px;}
#menuDetailArea .wc-menudetail{}
/* file-open 이미지 미리보기 */
#formMenuDetailFileOpenPreView{max-width:90%;}

